{% extends 'base.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
{% block javascripts %}
<script>
    var list = {{list|json_encode|raw}}
    {% if app.environment == 'prod' %}
    {% include 'sw.js.twig' only %}
    {% endif %}
</script>
{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<main>
    <h1>Landing Page</h1>
    {% apply spaceless %}
    <div id="react-app" class="text-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-20 p-10">
            {% for item in list %}
              <div class="shadow-2xl bg-white max-w-sm p-10">{{item.description}}</div>
            {% endfor %}
        </div>
        <a href="/login">Log in to load tasks</a>
    </div>
    {% endapply %}
</main>
{% endblock %}
